.me {
  height: 15%;
  width: 70%;
  border-radius: 15%;
  opacity: .5;
  box-shadow: 5px 5px 5px #888888;
  margin-left: 40px;

}

.main {
  text-align: center;
}

.sidebar {
  border-left: 1px solid grey;
  margin-left: 20px;
  height: 100%;
}

header {
  background-color: #e5f9ff;
  border-bottom: 1px solid grey;
}

header a {
transition-duration: 1s;
text-align: right;
margin: 20px;
font-size: 40px;
margin: 1px;
padding: 10px;
border-right: 5px solid white;

}
header a:hover {
  font-size: 50px;
  color:red;
  transition-duration: 1s;
}

body {
  padding-top: 70px;
}

.section {
  height:auto;
  min-height: 400px;
  box-shadow: 10px 10px 5px #888888;
  background-color: #F8F8F8 ;
  margin:20px;
  transition-duration: 1s;

}
.section:hover {
  background-color:white;

  transition-duration: 1s;


}


.section p {
  padding:10px;
}

.part {
  border-radius: 10%;

  height:auto;
  border-bottom: 1px solid grey;
  transition-duration: 1s;

}
.part:hover {
  transition-duration: 1s;
  background-color:#e5ffff;
}

.sidebar h2, h1{
  text-align: center;
}

.ghPages {
color: red;

}
